@import url("./colors.css");

* {
    font-family: "Mononoki Nerd Font";
    font-size: 11pt;
    min-height: 0;
    background-color: transparent;
    text-shadow: none;
    /* color: #691400; */
  }

.top-bar {
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px
}

.right-box {
    background: @base01;
    color: @base06;
    border-radius: 15px;
    padding: 4px;
}

.left-box {
    background: @base01;
    color: @base06;
    border-radius: 15px;
    padding: 4px 12px 4px 12px;
}

.icon {
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

.battery-progress {
    background-color: #BB7169;
    border-radius: 6px;
}

.separator {
    color: @base0D;
}

.volume-indicator, .time, .date, .power-profile {
    color: @base06;
}

.volume-indicator {
    margin: 0 -12px 0 0;
}

.time {
    margin: 0 2px 0 -6px;
}

.date {
    margin: 0 -6px;
}

.power-profile {
    margin: 0 0 0 -8px;
}

.brightness > * {
    padding: 0 6px 0 0px;
}

.brightness > * * {
    border-color: @base0C;
    border-radius: 12px;
}

.brightness > * > * {
    background-color: @base03;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: @base01;
    background-image: none;
    border: none;
    box-shadow: none;
    outline: none;
}

/* button:active {
    background-color: purple;
}

button:hover {
    border-bottom: 3px solid red;
} */

label {
    font-weight: 600;
}

.workspaces {
    background-color: @base01;
    border-radius: 15px;
    padding: 0 10px 0 2px;
}

.workspaces button {
    color: @base03;
    border-radius: 100%;
    /* margin: 0 4px; */
}

.workspaces button.focused {
    color: @base0C;
}
/* 
.client-title {
    color: white;
}

.notification {
    color: yellow;
} */

levelbar block,
highlight {
    min-height: 10px;
}
